@use '../../../styles/main';

.Header {
  height: 70px;
  background-color: var(--background2);
  display: flex;
  align-items: center;
  padding: 10 main.$webSidePadding;
  font-size: 30px;
  gap: 50px;
}

.title {
  font-weight: bold;
}
