.Menu {
  display: flex;
  background-color: var(--backgroun2);
  justify-content: flex-start;
  gap: 40px;
  align-items: center;
  font-size: 20px;
  color: var(--color3);
  a {
    color: var(--color2);
    text-decoration: none;
  }
}

.linkActive {
  text-decoration: underline;
}
