@use '../../../styles/main';

.Main {
  display: flex;
  min-height: calc(100vh - 180px);
  padding: 20px main.$webSidePadding;
  justify-content: center;
  
  background-color: rgb(165, 166, 167);
  font-size: 24px;
}
